!!! XML
!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'fr', :lang => 'fr'}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/xhtml; charset=utf-8'}
    %link{:rel => 'stylesheet', :href => 'cvstyle.css', :type => 'text/css'}
    %title== #{cv.name} - #{resources.cv}

  %body
    .hresume
      #actions
        %ul
          - other_langs.each do |other_lang|
            %li.alternate_lang
              %a{:href => "index.#{other_lang}.html"}= other_lang
    
      #contactinfo.vcard.section
        %h1.fn= cv.name
        %h2= cv.title.send(lang)
        %h3.subtitle== Contact

        .incontent
          .adr
            %span.street-address= cv.contact.address.street
            %br
            %span.locality== #{cv.contact.address.locality},
            %span.region= cv.contact.address.region
            %span.postal-code= cv.contact.address.zipcode
            %br
            %span.country-name= cv.contact.address.country
          %a.email{:href => "mailto:#{cv.contact.email}"}= cv.contact.email
          %br
          %a.url{:href => cv.contact.website}= cv.contact.website
          %br
          %a.value{:href => "tel:#{cv.contact.phone}"}= cv.contact.phone
      
      #summary.section
        %h3.subtitle= resources.summary
        .summary.incontent
          %p= cv.summary.send(lang).lines_to_br
      
      #objective.section
        %h3.subtitle= resources.objective
        .objective.incontent
          %p= cv.objective.send(lang)
      
      #experience.vcalendar.section
        %h3.subtitle= resources.experience
        
        - cv.experiences.each do |exp|
          
          .experience.vevent.incontent
            %h3.location= exp.location
            
            %abbr.dtstart{:title => exp.date.start.strftime(resources.date_formatting)}= exp.date.start.strftime(resources.date_formatting)
            \- 
            - if exp.date.end
              %abbr.dtend{:title => exp.date.end.strftime(resources.date_formatting)}= exp.date.end.strftime(resources.date_formatting)
            - else
              = resources.today
            
            %p.summary= exp.summary.send(lang)
            
            - if exp.tasks
              %ul
                - exp.tasks.send(lang).each do |task|
                  %li
                    %span= task
       
      #skills.section
        %h3.subtitle= resources.skills
       
        .incontent
          %ul.multilist
            - cv.skills.each do |skill|
              %li.skill
                %span= skill
      
      #interests.section
        %h3.subtitle= resources.interests
        
        .incontent

      #tool.section
        = resources.custom_tool 